<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @treinador.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @treinador.idade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @treinador.sexo %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @treinador.especialidade %>
</p>

<%= link_to 'Edit', edit_treinador_path(@treinador) %> |
<%= link_to 'Back', treinadors_path %>
