<%= form_for(pokebola) do |f| %>
  <% if pokebola.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokebola.errors.count, "error") %> prohibited this pokebola from being saved:</h2>

      <ul>
      <% pokebola.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :caracteristica %>
    <%= f.text_area :caracteristica %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
